#postgres
POSTGRES_CONN=postgresql:**
POSTGRES_SCHEMA=public
USE_CERT=false
LOGGING=true

#bunny
BUNNY_API_KEY=api_key
BUNNY_READONLY_API_KEY=api_key
BUNNY_LIBRARY_ID=library_id
BUNNY_STORAGE_ZONE=storage_zone
BUNNY_STORAGE_ACCESS_KEY=access_key

#fileserver
FILE_SERVER_URI=https://abc.b-cdn.net
STREAM_SERVER_URI=https://vz-186cf1b9-231.b-cdn.net